<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="lightbox">
        <div class="box-lightbox box-message">
            <p>Existen archivos ya almacenados, si continua se remplazaran por los nuevos.</p>
            <button class="btn btn-confirm">Continuar</button>
            <button class="btn btn-cancel">Cancelar</button>
        </div>
    </div>
    <div class="box-message confirm-ms">
        <p>El proceso termino.</p>
        <button class="btn btn-accept">Aceptar</button>
    </div>

<div class="app-head">
    <h1>Obten datos de google chrome y firefox</h1>
    <p>Extrae el <b>historial</b> , <b>marcadores</b> y las <b>cookies</b> para tener seguros tus datos</p>
    <div class="info-app">
        <span class="info-head">
            Informacion adicional
        </span>
        <div class="info-content">
            <p>El archivo de las cookies se crea en el navegador al abrirlo si este no existe, esta aplicacion busca ese archivo principalmente y si este no existe la aplicacion no extraera datos por lo que tendria que abrir el navegador antes de estraer datos o bien restablecer los datos ya estraidos</p>
        </div>
    </div>
    <button title="extraer datos" id="scan">Extraer datos</button>
    <button title="restablecer los datos" id="returnFiles">Restablecer datos</button>
    <h3>Seleccion del Navegador</h3>
    <select name="" id="browser">
        <option value="chrome">Chrome</option>
        <option value="firefox">Firefox</option>
    </select>
    <!-- <button title="boton solo para el desarrollo" class="reaload-dev-button" onclick="window.location.reload()">Recargar </button> -->
</div>
<script src="../public/js/renderer.js"></script>
</body>
</html>