<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="lightbox">
        <div class="box-lightbox box-message">
            <p>Existen archivos ya almacenados, si continua se remplazaran por los nuevos.</p>
            <button class="btn btn-confirm">Continuar</button>
            <button class="btn btn-cancel">Cancelar</button>
        </div>
    </div>
    <div class="box-message confirm-ms">
        <p>El proceso termino.</p>
        <button class="btn btn-accept">Aceptar</button>
    </div>
